@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <div>
            DynamicSun
        </div>
        <div>
            Испытательное задание
        </div>
    </h1>
    <p>
        <div align="left">
            <div>
                Текст задания:
            </div>
            <div>
                Вам необходимо написать ASP.NET Core MVC приложение для загрузки и отображения архивов погодных условий в городе Москве. Оно должно состоять из трёх страниц:
                <div style="margin-left:40px">
                    1. Главная страница, на которой присутствует меню из двух пунктов:
                    <div style="margin-left:40px">
                        a. Просмотр архивов погодных условий в городе Москве <br />
                        b. Загрузка архивов погодных условий в городе Москве
                    </div>
                    2. Страница просмотра архивов погодных условий в городе Москве. На данной странице присутствует постраничная навигация и возможность просмотра погодных условий по:
                    <div style="margin-left:40px">
                        a. Месяцам <br />
                        b. Годам
                    </div>
                    3. Страница загрузки архивов погодных условий в городе Москве. На данной странице мы можем загружать архивы погодных условий в городе Москве. Архив погодных условий представляет собой файл Excel. После загрузки его необходимо разобрать и загрузить в базу данных для дальнейшего отображения на экране 2. Мы можем загружать как один файл Excel, так и несколько за раз. Если файл Excel не подлежит разбору, наше приложение не должно падать.
                </div>
            </div>
            <div>
                Комментарии:
            </div>
            <div style ="margin-left:40px">
                1. В качестве библиотеки для работы с Excel файлами рекомендуется использовать NPOI.<br />
                2. В качестве ORM для работы с базой данных можно использовать Entity Framework Core.<br />
                3. В качестве базы данных необходимо использовать MSSQL Server 2008 и выше, либо PostgreSQL 9 и выше.<br />
                4. Архивы погодных условий за последние 4 года прилагается к данному задание (Название файла – Weather.Moscow.2010-2014).<br />l
            </div>
        </div>    
    </p>
</div>
