@model testAppDynamicSun.Domain.WeatherValue
@{
    ViewData["Title"] = "Загрузка архивов погодных условий в городе Москве";
}

<div class="text-center">
    <h1 class="display-6">Загрузка архивов погодных условий в городе Москве</h1>
</div>
<div style="margin-top:40px">
    @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel"}))
    {
    <div>
        Загрузите Excel-файл:
        <input type="file" multiple name="filesExcel" id="filesExcel" />
        <div>
            <input type="submit" value="Загрузить" />
        </div>
    </div>
    }
</div>